@model jobSalt.Models.Config.SiteConfig
@using jobSalt.Models.Config

<div class="container-fluid header">
    <div class="container">
        <div class="university-logo pull-left"></div><h1>Configuration</h1>
    </div>
    <div class="header-input"></div>
</div>
<div class="container">
    @using (Html.BeginForm("SaveConfig", "Configuration"))
    {
        <div class="row" style="margin-top: 25px; margin-bottom:25px">
            <div class="col-xs-4">
                <div class="post">
                    <h3>University Specific CSS</h3>@Html.TextBoxFor(model => model.UniversityThemeCSSFile, new { @class = "form-control" })
                    
                </div>
            </div>
            <div class="col-xs-4">
                <div class="post">
                    <h3>Enable/Disable Features</h3>
                    <table>
                        <tr><td><h4 style="margin: 0 10px 0 0;">Alumni: </h4></td><td>@Html.CheckBoxFor(model => model.AlumniEnabled)</td></tr>
                        <tr><td><h4 style="margin: 0 10px 0 0;">Salary: </h4></td><td>@Html.CheckBoxFor(model => model.SalaryEnabled)</td></tr>
                        <tr><td><h4 style="margin: 0 10px 0 0; ">Housing: </h4></td><td>@Html.CheckBoxFor(model => model.HousingEnabled)</td></tr>
                    </table>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="post">
                    <h3>Twitter</h3><br />
                    <table>
                        <tr><td><h4 style="margin: 0 10px 0 0;">Enabled: </h4></td><td>@Html.CheckBoxFor(model => model.TwitterFeedEnabled)</td></tr>
                        <tr><td><h4 style="margin: 0 10px 0 0;">Twitter User: </h4></td><td>@Html.TextBoxFor(model => model.TwitterUser)</td></tr>
                        <tr><td><h4 style="margin: 0 10px 0 0; ">Twitter Widget ID: </h4></td><td>@Html.TextBoxFor(model => model.TwitterWidgetID)</td></tr>
                    </table>
                </div>
            </div>
        </div>

        <input class="col-xs-offset-4 col-xs-4" type="submit" value="Save Changes" />
    }
</div>


