@model jobSalt.Models.JobPost[]
@{
    ViewBag.Title = "Home Page";
}
    
 <div class="container">
    <div class="jumbotron">
        <h1>Job Search</h1>
        @using (Html.BeginForm("Index", "Job"))
        {
           @Html.TextBox("query")
           <input type="submit" value="Search" />
        }
    </div>
</div>

@for (int i = 0; i < Model.Count(); i++)
{
    <div class="container" data-toggle="collapse" data-target="#collapsable@(i)">
        <div class="well">
            <h2>@Model[i].Company</h2>
            <h3>@Model[i].JobTitle</h3>
            <div id="collapsable@(i)" class="collapse">
                <p>@Html.Raw(Model[i].Description)</p>
                <b>Location:</b> @Model[i].Source.Name<br />
                <b>Posted On:</b> @Model[i].DatePosted.ToShortDateString()<br />
                <br />
                <a href="@Model[i].Source.URL" class="btn btn-primary btn-large" target="_blank">View Source</a>
            </div>
        </div>
    </div>
}