<div class="affix-top panel panel-primary">
    <div class="panel-heading">
        Filters
    </div>
    <div class="panel-body">
        @{var filters = FilterUtility.GetFilters(ViewBag.FilterString);}
        @foreach (jobSalt.Models.Filter filter in filters)
        {
            <button class="btn btn-primary btn-lg btn-group-justified" data-value="@filter.TargetField" onclick="EditFilter(this, event)">
                <span class="pull-left">@filter.TargetField</span><span data-value="@filter.TargetField" class="glyphicon glyphicon-remove icon pull-right" style="color:#808080" onclick="RemoveFilter(this, event)"></span>
            </button>
        }
        @foreach (jobSalt.Models.Field target in Enum.GetValues(typeof(jobSalt.Models.Field)))
        {
            if(!FilterUtility.FilterIsSet(filters, target))
            { 
                <button class="btn btn-info btn-lg btn-group-justified" data-value="@target" onclick="EditFilter(this, event)">
                    <span class="pull-left">@target</span><span data-value="@target" class="glyphicon glyphicon-plus icon pull-right" style="color:#808080"></span>
                </button>
            }
        }
    </div>
</div>

<div class="container">
    <div class="col-lg-12">
        <div class="jumbotron">
            @using jobSalt.Models;

            @Html.Partial("_FilterPartial")
            <h1>Job Search</h1>
            @using jobSalt.Models;
            @using (Html.BeginForm("AssignFilter", "FilterUtility"))
            {
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input id="value" class="form-control" name="value" type="text" value="@ViewBag.FilterBag.Keyword">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-success">Search</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
                
                <input type="hidden" id="targetField" name="targetField" value="Keyword" />
                <input type="hidden" name="filterString" id="filterString" value="@ViewBag.FilterString" />
            }
        </div>
    </div>
    <div id="productList"></div>
    <div id="loading"></div> 
</div>

    @section Scripts
    {
        <script type="text/javascript">
            var page = 0;
            var _inCallback = false;

            $(window).load(function () {
                loadJobs();
            });

            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() > $(document).height() - 25) {
                    loadJobs();
                }
            });

            function loadJobs() {
                if (page > -1 && !_inCallback) {
                    _inCallback = true;

                    $('div#loading').html('<p><img src="/Content/images/loading.gif"></p>');
                    var filterString = $("#filterString").val();

                    var fstr = "@Html.Raw(ViewBag.FilterString)";

                    $.get("/Job/Index?page=" + page + "&filterString=" + fstr, function (data) {
                        if (data != '') {
                            $("#productList").append(data);
                        }
                        else {
                            page = -1;
                        }

                        _inCallback = false;
                        $('div#loading').empty();
                    });
                    page++;
                }
            }
        </script>
    }
