@model List<jobSalt.Models.Feature.Salary.SalaryPost>

@using jobSalt.Models;

<div class="container-fluid header">
    <div class="container">
        <div class="university-logo pull-left"></div><h1>Salary Information</h1>
    </div>
    @using jobSalt.Models;
    @using (Html.BeginForm("AssignFilter", "FilterUtility"))
    {
        <div class="header-input">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="input-group">
                            <input id="value" class="form-control" name="value" type="text" value="@ViewBag.FilterBag.FieldOfStudy">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="targetField" name="targetField" value="FieldOfStudy" />
        <input type="hidden" name="filterString" id="filterString" value="@ViewBag.FilterString" />
    }
    </div>

    @Scripts.Render("~/bundles/graphing")

    <div class="container">
        <div class="row">
            @Html.Partial("_FilterPartial", Features.Salary)
            <div class="col-md-3">
                <div class="textfill" style="width: 100%; height: 400px;">
                    <span>@((int)(Model[0].Average / 1000))k<br />Average</span>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <div class="textfill" style="width: 100%; height: 400px;">
                    <span>@((int)(Model[0].Median / 1000))k<br />Median</span>
                </div>
            </div>
        </div>
    </div>

    <div id="mvc_data" data-data="@Model"></div>

    <script>
        $(document).ready(function () {
            $('.textfill').textfill({ maxFontPixels: -1 });
        });

        window.onresize = function () {
            $('.textfill').textfill({ maxFontPixels: -1 });
        }
    </script>
