@using jobSalt.Models;

<div class="container-fluid header">
    <h1>Salary Information</h1>
    @using jobSalt.Models;
    @using (Html.BeginForm("AssignFilter", "FilterUtility"))
    {
        <div class="header-input">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="input-group">
                            <input id="value" class="form-control" name="value" type="text" value="@ViewBag.FilterBag.FieldOfStudy">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </div>
        </div>
             
        <input type="hidden" id="targetField" name="targetField" value="FieldOfStudy" />
        <input type="hidden" name="filterString" id="filterString" value="@ViewBag.FilterString" />   
    }
</div>

@Scripts.Render("~/bundles/graphing")

<div class="container">
    <div class="row">
        @Html.Partial("_FilterPartial")
        <div id="graph"></div>
    </div>
</div>

<div id="mvc_data" data-data="@Model"></div>

<script>
    window.onload = function () {
        var paper = Raphael("graph", 400, 400);

        fin = function () {
            this.flag = paper.popup(this.bar.x, this.bar.y, this.bar.value || "0").insertBefore(this);
        };
        fout = function () {
            this.flag.animate({ opacity: 0 }, 300, function () { this.remove(); });
        };

        data = $('#mvc_data').data('data');

        var bchart = paper.barchart(10, 10, 300, 220, data).hover(fin, fout);
        var text1 = paper.text(50, 230, "Min").attr({ fill: Raphael.g.colors[0] });
        var text2 = paper.text(50, 240, "Median").attr({ fill: Raphael.g.colors[1] });
        var text3 = paper.text(50, 250, "Max").attr({ fill: Raphael.g.colors[2] });
    };
</script>