@model Dictionary<string, List<jobSalt.Models.Feature.Alumni.AlumniPost>>
@using jobSalt.Models.Feature.Alumni;
@foreach(string company in @Model.Keys)
{
    <div class="col-md-12 col-xs-12" style="padding:0px; margin-top:10px">
        <div class="post post-alumni post-new" onclick="CollapseWithoutSelection(this)">
            <h2 class="ellipsis" style="padding-right:50px">@company</h2>
            <div class="post-details collapse">
                @foreach (AlumniPost alumni in @Model[company])
                {
                    <div class="col-xs-6 col-sm-4">
                        <h4>@alumni.Name</h4>
                        <b>Location:</b> @alumni.Location.City, @alumni.Location.State<br />
                        <b>Major:</b> @alumni.FieldOfStudy<br />
                        <b>Email:</b> <a href="mailto:@alumni.Email" onclick="event.stopPropagation()">@alumni.Email</a><br />
                        <br />
                    </div>
                }
                <div class="col-xs-12 col-lg-12">
                    <a href="@Url.Action("JobsAtCompany", new { company = company, filterString = ViewBag.FilterString })" class="btn btn-primary btn-large" onclick="event.stopPropagation();">View Jobs</a>
                </div>
            </div>
        </div>
    </div>
}